<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width,initial-scale=1" />
        <title>Interact challenge</title>
        <style>
            form {
                width: 300px;
                height: 70px;
                position: fixed;
                top: 50%;
                left: 50%;
                margin-top: -35px;
                margin-left: -150px;
            }

            .button {
                width: 100%;
                height: 100%;
                border-radius: 3px;
                background-color: #555555;
                color: white;
                font-size: 20px;
                transition-duration: 0.4s;
            }

            .button:hover {
                background-color: white;
                color: #555555;
                cursor: pointer;
            }
        </style>
    </head>
    <body>
        <form action="https://api.connectedtravel.com/develop-website-public/challenges/website" method="post">
            <input type="hidden" name="token" value="<%= token %>">
            <input class="button" type="submit" value="Complete challenge">
        </form>
    </body>
</html>
